on:
  push:
    branches:
      - main

jobs:
  RunTests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install pytest pytest-spec pytest-describe coverage pytest-mock

      - name: run test
        run: pytest --spec
